*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

/* Estilos para la div individual */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
}

.main input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}


/* Formulario */
.individual-fields {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.independiente {
    width: 100%;
}

.genero {
    width: 100%;

}

#bulk-fields {
    width: 100%;
    padding: 20px;
    margin:0 auto;
}